.header__menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  /* margin: auto; */
  /* margin-right: 50px; */
}

@media (max-width: 666px) {
  .header__menu {
    margin-right: 25px;
  }
}

@media (max-width: 600px) {
  .header__menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
}
