.header__menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  /* margin: auto; */
  /* margin-right: 50px; */
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
