.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  padding: 48px;
  padding-top: 100px;
}

.experience__title {
  font-size: 50px;
  /* width: 700px;
  text-align: left;
  margin: 0 auto; */
  margin: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.experience__card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 75%;
  max-width: 860px;
}

.experience__card {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.experience__card_right {
  align-items: flex-end;
}
.experience__card-title {
  font-size: 36px;
  margin: 0;
  margin-bottom: 8px;
}

.experience__location {
  font-size: 24px;
  margin: 0;
  margin-bottom: 4px;
}

.experience__role {
  font-size: 16px;
  margin: 0;
  margin-bottom: 12px;
}

.experience__paragraph {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 12px;
}

.experience__paragraph:last-child {
  margin-bottom: 0;
}
