@import url(./__menu-btn/header__menu-btn.css);
@import url(./__menu/header__menu.css);
@import url(./__link/header__link.css);
@import url(./__list/header__list.css);

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100vw;
  height: 84px;
  padding: 8px 24px;
  box-sizing: border-box;
  background-color: var(--opaque-white);
}

.header_scrolled {
  box-shadow: var(--box-shadow);
}
