.header__link {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.4s ease;
}

.header__link:hover {
    /* color: rgba(0, 0, 0, 0.5); */
    color: var(--accent-red);
}